body {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: black;
}
#imgpreview {
    width: 200px;
    height: 200px;
}
h1 {
    text-align: center;
    cursor: default;
}
input {
    text-align: center;
}
#upload {
    width: 100vw;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
#img-card {
    object-fit: contain;
    border: 2px solid white;
    width: 300px;
    height: 350px;
    margin: 5px;
    align-items: center;
    cursor: default;
}
#img-card:hover {
    color: tomato;
    border: 2px solid tomato;
    cursor: default;
    background-color: rgba(44, 44, 44, 0.384);
}
#timestamp {
    font-size: smaller;
    color: dimgrey;
}
#input {
    padding: 15px;
}
.card-popup {
    transform: translateY(-200px);
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.897);
}
#img-popup {
    position: relative;
}
#closeX {
    text-align: right;
}
