body {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: black;
}
img {
    width: 200px;
    height: 200px;
}
h1 {
    text-align: center;
}
#upload {
    width: 100vw;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#img-card {
    object-fit: contain;
    border: 2px solid white;
    width: 300px;
    height: 450px;
    margin: 15px;
}
#img-card:hover {
    color: tomato;
    border: 2px solid tomato;
}
#timestamp {
    font-size: smaller;
    color: dimgrey;
}
